In [27]:
import pandas as pd
import os

In [28]:
current_directory = os.getcwd()
fullname = os.path.join(current_directory, "adult.data.csv")

In [29]:
df = pd.read_csv(fullname)
df.head(15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K

How many people of each race are represented in this dataset?

In [30]:
race_count = pd.Series(data=df.race.value_counts(), name="race_count")

race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race_count, dtype: int64

What is the average age of men?

In [31]:
mask = df['sex'] == "Male"
average_age_men = df[mask].age.mean().round(1)
average_age_men

39.4

What is the percentage of people who have a Bachelor's degree?

In [33]:
mask2 = df['education'] == "Bachelors"
percentage_bachelors = len(df[mask2])/len(df)*100
percentage_bachelors

16.44605509658794

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [34]:
higher_education = df[df['education'].isin(["Bachelors", "Masters", "Doctorate"])]

# percentage with salary >50K
higher_education_rich = len(higher_education[higher_education['salary'] == ">50K"]) / len(higher_education) * 100
higher_education_rich

46.535843011613935

What percentage of people without advanced education make more than 50K?

In [35]:
lower_education = df[~df['education'].isin(["Bachelors", "Masters", "Doctorate"])]
lower_education_rich = len(lower_education[lower_education['salary'] == ">50K"]) / len(lower_education) * 100
lower_education_rich

17.3713601914639

What is the minimum number of hours a person works per week?

In [36]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours
# len(df[df['hours-per-week']==min_work_hours])

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [37]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week']==min_work_hours]
rich_percentage = len(num_min_workers[num_min_workers['salary']==">50K"])/len(num_min_workers)*100
num_min_workers
rich_percentage

10.0

What country has the highest percentage of people that earn >50K?

In [38]:
# What country has the highest percentage of people that earn >50K?
countries = (df[df['salary'] =='>50K']['native-country'].value_counts()/df['native-country'].value_counts()*100).sort_values(ascending=False)
highest_earning_country = countries.index[0]
highest_earning_country_percentage = round(countries[0], 1)
highest_earning_country_percentage

41.9

What country has the highest percentage of people that earn >50K and what is that percentage?

In [39]:
p = (df[df['salary'] =='>50K']['native-country'].value_counts()/df['native-country'].value_counts()*100).sort_values(ascending=False)
p.index[0]

'Iran'

the most popular occupation for those who earn >50K in India.

In [40]:
  # Identify the most popular occupation for those who earn >50K in India.
rich = df[df["salary"]==">50K"]
india_rich = rich[rich["native-country"]=="India"]
top_IN_occupation = india_rich["occupation"].value_counts().index[0]
top_IN_occupation

'Prof-specialty'